################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DocklerHW/Adapter/bin/Debug
/DocklerHW/DocklerHW/obj/Debug/DocklerHW_MarkupCompile.lref
/DocklerHW/DocklerHW/obj/Debug/DocklerHW_MarkupCompile.i.lref
/DocklerHW/DocklerHW/obj/Debug/DocklerHW_MarkupCompile.i.cache
/DocklerHW/DocklerHW/obj/Debug/DocklerHW_MarkupCompile.cache
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.Properties.Resources.resources
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.pdb
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.g.resources
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.exe
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.csproj.SuggestedBindingRedirects.cache
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.csproj.GenerateResource.cache
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.csproj.FileListAbsolute.txt
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.csproj.CoreCompileInputs.cache
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.csproj.CopyComplete
/DocklerHW/DocklerHW/obj/Debug/DocklerHW.csproj.AssemblyReference.cache
/DocklerHW/DocklerHW/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DocklerHW/DocklerHW/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DocklerHW/DocklerHW/obj/Release/DocklerHW_MarkupCompile.lref
/DocklerHW/DocklerHW/obj/Release/DocklerHW_MarkupCompile.cache
/DocklerHW/DocklerHW/obj/Release/DocklerHW.csproj.AssemblyReference.cache
/DocklerHW/DocklerHW/obj/Release/AweVideoPreviewItem.baml
*.dll
/DocklerHW/packages
/DocklerHW/Repository/bin/Debug
/DocklerHW/Repository/obj/Debug
/DocklerHW/Repository/obj/Release
*.cache
*.txt
*.pdb
*.CopyComplete
/DocklerHW/Adapter/obj
/DocklerHW/DocklerHW/bin/Debug
/DocklerHW/DocklerHW/obj
/DocklerHW/.vs/DocklerHW
/DocklerHW/DataProvider/bin/Debug
/DocklerHW/DataProvider/obj
